## food valueのデータ化

In [ ]:
import os
import pandas as pd
import numpy as np

from src import DATA_PATH

In [2]:

qes = pd.read_csv(os.path.join(DATA_PATH, 'data_questionnare_NCNP.csv'))
res = pd.read_csv(os.path.join(DATA_PATH, 'data_responses_NCNP_2types.csv'))
dem = pd.read_csv(os.path.join(DATA_PATH, 'data_demographic_NCNP.csv'))
img_value = pd.read_csv(os.path.join(DATA_PATH, 'food.pics.database.value.csv'))

In [3]:
img_value["comment: This sections classifies foods and objects into different categories. Note that classifications were not alway unabmiguous, which is why classifications are missing for some items"].iloc[0:1].values

array(['type:1=fruit, 2=with vegetables, 3=chocolate, 4=with fish, 5=with meat, 6=nuts, 7=drinks, 21=Flowers/leaves, 22=Animals, 23=Tools,  24=household (non-kitchen), 25=Kitchen Utensils, 26=office, 27=food packaging, 28=other objects\n26=Office,\n27=food packaging,\n28=Objects, other,'],
      dtype=object)

In [4]:
for i in range(img_value.shape[1]):
    print(img_value.iloc[:, i])

0       Image_No
1              1
2              2
3              3
4              4
          ...
1209        1312
1210        1313
1211        1314
1212         NaN
1213         NaN
Name: Unnamed: 0, Length: 1214, dtype: object
0                   Item_description_english
1             cheesecake with cherry topping
2                       Hamburger with bacon
3       cheese burger, french fries and cola
4                           chocolate cookie
                        ...
1209                                 leaf 15
1210                                 bicycle
1211                          hot-air ballon
1212                                     NaN
1213                                     NaN
Name: Unnamed: 1, Length: 1214, dtype: object
0        Item_description_german
1        Käsekuchen mit Kirschen
2                      Hamburger
3       Hamburger , Pommes, Cola
4                Choclate Cookie
                  ...
1209                    Blatt 15
1210                     Fahrrad
1211              Heißluftballon
1212                         NaN
1213                         NaN
Name: Unnamed: 2, Length: 1214, dtype: object
0       category:food=1, nonfood=2
1                                1
2                                1
3                                1
4                                1
                   ...
1209                             2
1210                             2
1211                             2
1212                           NaN
1213                           NaN
Name: Unnamed: 3, Length: 1214, dtype: object
0       food: 1=whole foods, 2=processed foods
1                                            2
2                                            2
3                                            2
4                                            2
                         ...
1209                                       NaN
1210                                       NaN
1211                                       NaN
1212                                       NaN
1213                                       NaN
Name: Classifications, Length: 1214, dtype: object
0       taste:1=sweet 2=tasty
1                           1
2                           2
3                           2
4                           1
                ...
1209                      NaN
1210                      NaN
1211                      NaN
1212                      NaN
1213                      NaN
Name: Unnamed: 5, Length: 1214, dtype: object
0       type:1=fruit, 2=with vegetables, 3=chocolate, ...
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                       3
                              ...
1209                                                   21
1210                                                   28
1211                                                   28
1212                                                  NaN
1213                                                  NaN
Name: comment: This sections classifies foods and objects into different categories. Note that classifications were not alway unabmiguous, which is why classifications are missing for some items, Length: 1214, dtype: object
0       protein_100g
1                  6
2                 15
3               5.34
4                6.2
            ...
1209             NaN
1210             NaN
1211             NaN
1212             NaN
1213             NaN
Name:  , Length: 1214, dtype: object
0       fat_100g
1          17.14
2             15
3              9
4             26
          ...
1209         NaN
1210         NaN
1211         NaN
1212         NaN
1213         NaN
Name:  .1, Length: 1214, dtype: object
0       carbs_100g
1            32.89
2               14
3             20.3
4               63
           ...
1209           NaN
1210           NaN
1211           NaN
1212           NaN
1213           NaN
Name:  .2, Length: 1214, dtype: object
0       kcal_100g
1             311
2             252
3             185
4             510
          ...
1209          NaN
1210          NaN
1211          NaN
1212          NaN
1213      167.335
Name:  .3, Length: 1214, dtype: object
0       no_items_image
1                  1.0
2                  1.0
3                  3.0
4                  1.0
             ...
1209               NaN
1210               NaN
1211               NaN
1212               NaN
1213               1.5
Name: Macronutrients, Length: 1214, dtype: object
0       grams_total
1               150
2               360
3               720
4                19
           ...
1209            NaN
1210            NaN
1211            NaN
1212            NaN
1213          167.5
Name: Unnamed: 12, Length: 1214, dtype: object
0       protein_total
1                   9
2                  54
3              38.448
4               1.178
            ...
1209              NaN
1210              NaN
1211              NaN
1212              NaN
1213            5.298
Name: Unnamed: 13, Length: 1214, dtype: object
0       fat_total
1           25.71
2              54
3            64.8
4            4.94
          ...
1209          NaN
1210          NaN
1211          NaN
1212          NaN
1213        6.045
Name: Unnamed: 14, Length: 1214, dtype: object
0       carbs_total
1            49.335
2              50.4
3            146.16
4             11.97
           ...
1209            NaN
1210            NaN
1211            NaN
1212            NaN
1213         22.011
Name: Unnamed: 15, Length: 1214, dtype: object
0       Kcal_total
1            466.5
2            907.2
3             1332
4             96.9
           ...
1209           NaN
1210           NaN
1211           NaN
1212           NaN
1213        227.99
Name: Comment: Macronutrients per 100g and in total in image (multiplied by gramms_total/100, see formulas), Length: 1214, dtype: object
0                red
1        0.422641107
2        0.500267463
3       0.5327524521
4       0.4549939422
            ...
1209    0.2800624359
1210    0.3270193533
1211    0.4334197416
1212             NaN
1213             NaN
Name:  .4, Length: 1214, dtype: object
0              green
1       0.2937841124
2       0.3600836247
3       0.3212659386
4       0.3405228675
            ...
1209    0.5160949396
1210    0.3074271399
1211    0.3094275378
1212             NaN
1213             NaN
Name:  .5, Length: 1214, dtype: object
0               blue
1       0.2835747807
2       0.1396489124
3       0.1459816093
4       0.2044831903
            ...
1209    0.2038426246
1210    0.3655535068
1211    0.2571527207
1212             NaN
1213             NaN
Name: Image characteristics, Length: 1214, dtype: object
0        object size
1       0.4654703704
2       0.3698074074
3       0.3025777778
4       0.1957481481
            ...
1209    0.2842481481
1210    0.3318925926
1211    0.2482888889
1212             NaN
1213             NaN
Name: Unnamed: 20, Length: 1214, dtype: object
0         intensity
1       42.74005185
2        43.7508037
3       39.06631111
4       19.11392963
           ...
1209    40.35482963
1210    40.01899259
1211    30.61757037
1212            NaN
1213            NaN
Name: Unnamed: 21, Length: 1214, dtype: object
0       intensity_norm
1          91.82120834
2          118.3069966
3          129.1116334
4          97.64551956
             ...
1209       141.9704223
1210       120.5781433
1211       123.3142994
1212               NaN
1213               NaN
Name: Unnamed: 22, Length: 1214, dtype: object
0       contrast (sd)
1         73.17881012
2         56.81706238
3         62.30160522
4         55.15677261
            ...
1209       64.0333786
1210      90.93388367
1211      63.51922226
1212              NaN
1213              NaN
Name: Unnamed: 23, Length: 1214, dtype: object
0          complexity
1       0.09451851852
2        0.1152592593
3        0.1155925926
4       0.07644444444
            ...
1209    0.05894444444
1210     0.1534814815
1211     0.1088333333
1212              NaN
1213              NaN
Name: Unnamed: 24, Length: 1214, dtype: object
0       complexity_norm
1          0.2030602258
2          0.3116737441
3          0.3820260478
4          0.3905244835
             ...
1209       0.2073696692
1210       0.4624432268
1211       0.4383334825
1212                NaN
1213                NaN
Name: Comment: See paper for details on image characteristics, Length: 1214, dtype: object
0       spatial frequencies (medianpow)
1                           14.87914753
2                           15.34527493
3                           15.60341454
4                           15.27216911
                     ...
1209                         17.1782856
1210                        18.61133957
1211                        16.33837891
1212                                NaN
1213                                NaN
Name: Unnamed: 26, Length: 1214, dtype: object
0       Recognizability_Vegetarian_Male
1                                 100.0
2                                 100.0
3                                 100.0
4                                 100.0
                     ...
1209                              100.0
1210                              100.0
1211                              100.0
1212                                NaN
1213                                NaN
Name: Unnamed: 27, Length: 1214, dtype: object
0       Recognizability_Vegetarian_Female
1                                   100.0
2                                   100.0
3                                   100.0
4                                   100.0
                      ...
1209                                 92.6
1210                                100.0
1211                                100.0
1212                                  NaN
1213                                  NaN
Name: Normative rating data, split by Diet and Gender, Length: 1214, dtype: object
0       Familiarity_omnivore_Male
1                            94.2
2                            99.0
3                           100.0
4                            98.7
                  ...
1209                         94.1
1210                        100.0
1211                        100.0
1212                          NaN
1213                          NaN
Name: Unnamed: 29, Length: 1214, dtype: object
0       Familiarity_omnivore_Female
1                              97.6
2                             100.0
3                             100.0
4                             100.0
                   ...
1209                           97.0
1210                          100.0
1211                          100.0
1212                            NaN
1213                            NaN
Name: Unnamed: 30, Length: 1214, dtype: object
0       Familiarity_Vegetarian_Male
1                             100.0
2                             100.0
3                             100.0
4                             100.0
                   ...
1209                           50.0
1210                          100.0
1211                          100.0
1212                            NaN
1213                            NaN
Name: Unnamed: 31, Length: 1214, dtype: object
0       Familiarity_Vegetarian_Female
1                               100.0
2                               100.0
3                               100.0
4                               100.0
                    ...
1209                             92.6
1210                            100.0
1211                            100.0
1212                              NaN
1213                              NaN
Name: Unnamed: 32, Length: 1214, dtype: object
0       Valence_omnivore_Male
1                        72.3
2                        54.0
3                        48.5
4                        58.5
                ...
1209                     45.8
1210                     64.0
1211                     58.3
1212                      NaN
1213                      NaN
Name: Unnamed: 33, Length: 1214, dtype: object
0       Valence_omnivore_Female
1                          58.1
2                          50.7
3                          51.6
4                          58.8
                 ...
1209                       57.4
1210                       59.4
1211                       59.5
1212                        NaN
1213                        NaN
Name: Unnamed: 34, Length: 1214, dtype: object
0       Valence_Vegetarian_Male
1                          61.8
2                          16.8
3                          29.3
4                          50.3
                 ...
1209                       68.5
1210                       45.5
1211                       61.8
1212                        NaN
1213                        NaN
Name: Unnamed: 35, Length: 1214, dtype: object
0       Valence_Vegetarian_Female
1                            38.8
2                            23.9
3                            18.5
4                            58.0
                  ...
1209                         53.8
1210                         69.2
1211                         56.8
1212                          NaN
1213                          NaN
Name: Unnamed: 36, Length: 1214, dtype: object
0       Arousal_omnivore_Male
1                        52.2
2                        43.1
3                        43.4
4                        40.0
                ...
1209                     21.6
1210                     34.7
1211                     44.8
1212                      NaN
1213                      NaN
Name: Unnamed: 37, Length: 1214, dtype: object
0       Arousal_omnivore_Female
1                          43.2
2                          32.8
3                          43.5
4                          45.5
                 ...
1209                       28.6
1210                       26.6
1211                       37.7
1212                        NaN
1213                        NaN
Name: Unnamed: 38, Length: 1214, dtype: object
0       Arousal_Vegetarian_Male
1                          52.5
2                           7.5
3                          32.0
4                          22.8
                 ...
1209                       19.0
1210                       17.5
1211                       72.0
1212                        NaN
1213                        NaN
Name: Unnamed: 39, Length: 1214, dtype: object
0       Arousal_Vegetarian_Female
1                            24.6
2                            16.2
3                            25.9
4                            35.4
                  ...
1209                         30.4
1210                         47.7
1211                         30.5
1212                          NaN
1213                          NaN
Name: Unnamed: 40, Length: 1214, dtype: object
0       Complexity_omnivore_Male
1                           34.7
2                           46.3
3                           37.4
4                           31.0
                  ...
1209                        30.9
1210                        51.7
1211                        54.9
1212                         NaN
1213                         NaN
Name: Unnamed: 41, Length: 1214, dtype: object
0       Complexity_omnivore_Female
1                             33.4
2                             44.0
3                             50.5
4                             36.0
                   ...
1209                          43.0
1210                          52.8
1211                          52.3
1212                           NaN
1213                           NaN
Name: Unnamed: 42, Length: 1214, dtype: object
0       Complexity_Vegetarian_Male
1                             41.2
2                             28.3
3                             50.7
4                             34.5
                   ...
1209                          27.0
1210                          63.5
1211                          55.2
1212                           NaN
1213                           NaN
Name: Unnamed: 43, Length: 1214, dtype: object
0       Complexity_Vegetarian_Female
1                               40.9
2                               45.5
3                               49.5
4                               33.5
                    ...
1209                            39.5
1210                            57.7
1211                            45.5
1212                             NaN
1213                             NaN
Name: Unnamed: 44, Length: 1214, dtype: object
0       Palatability_omnivore_Male
1                             73.9
2                             66.2
3                             66.9
4                             64.3
                   ...
1209                           NaN
1210                           NaN
1211                           NaN
1212                           NaN
1213                           NaN
Name: Unnamed: 45, Length: 1214, dtype: object
0       Palatability_omnivore_Female
1                               67.7
2                               57.2
3                               60.8
4                               66.7
                    ...
1209                             NaN
1210                             NaN
1211                             NaN
1212                             NaN
1213                             NaN
Name: Unnamed: 46, Length: 1214, dtype: object
0       Palatability_Vegetarian_Male
1                               78.5
2                               15.8
3                               48.7
4                               51.5
                    ...
1209                             NaN
1210                             NaN
1211                             NaN
1212                             NaN
1213                             NaN
Name: Unnamed: 47, Length: 1214, dtype: object
0       Palatability_Vegetarian_Female
1                                 53.3
2                                 22.7
3                                 23.4
4                                 62.5
                     ...
1209                               NaN
1210                               NaN
1211                               NaN
1212                               NaN
1213                               NaN
Name: Unnamed: 48, Length: 1214, dtype: object
0       Craving_omnivore_Male
1                        47.3
2                        53.5
3                        53.6
4                        45.7
                ...
1209                      NaN
1210                      NaN
1211                      NaN
1212                      NaN
1213                      NaN
Name: Unnamed: 49, Length: 1214, dtype: object
0       Craving_omnivore_Female
1                          44.2
2                          38.2
3                          44.8
4                          48.8
                 ...
1209                        NaN
1210                        NaN
1211                        NaN
1212                        NaN
1213                        NaN
Name: Unnamed: 50, Length: 1214, dtype: object
0       Craving_Vegetarian_Male
1                          29.5
2                           6.5
3                          29.0
4                          26.3
                 ...
1209                        NaN
1210                        NaN
1211                        NaN
1212                        NaN
1213                        NaN
Name: Unnamed: 51, Length: 1214, dtype: object
0       Craving_Vegetarian_Female
1                            21.5
2                             5.9
3                            12.0
4                            40.8
                  ...
1209                          NaN
1210                          NaN
1211                          NaN
1212                          NaN
1213                          NaN
Name: Unnamed: 52, Length: 1214, dtype: object
0       License: Hemera (1), other (2)
1                                    2
2                                    2
3                                    2

In [5]:
img_value.iloc[0:1, :].T.values.flatten().tolist()

['Image_No',
 'Item_description_english',
 'Item_description_german',
 'category:food=1, nonfood=2',
 'food: 1=whole foods, 2=processed foods',
 'taste:1=sweet 2=tasty',
 'type:1=fruit, 2=with vegetables, 3=chocolate, 4=with fish, 5=with meat, 6=nuts, 7=drinks, 21=Flowers/leaves, 22=Animals, 23=Tools,  24=household (non-kitchen), 25=Kitchen Utensils, 26=office, 27=food packaging, 28=other objects\n26=Office,\n27=food packaging,\n28=Objects, other,',
 'protein_100g',
 'fat_100g',
 'carbs_100g',
 'kcal_100g',
 'no_items_image',
 'grams_total',
 'protein_total',
 'fat_total',
 'carbs_total',
 'Kcal_total',
 'red',
 'green',
 'blue',
 'object size',
 'intensity',
 'intensity_norm',
 'contrast (sd)',
 'complexity',
 'complexity_norm',
 'spatial frequencies (medianpow)',
 'Recognizability_Vegetarian_Male',
 'Recognizability_Vegetarian_Female',
 'Familiarity_omnivore_Male',
 'Familiarity_omnivore_Female',
 'Familiarity_Vegetarian_Male',
 'Familiarity_Vegetarian_Female',
 'Valence_omnivore_Male',
 'Valence_omnivore_Female',
 'Valence_Vegetarian_Male',
 'Valence_Vegetarian_Female',
 'Arousal_omnivore_Male',
 'Arousal_omnivore_Female',
 'Arousal_Vegetarian_Male',
 'Arousal_Vegetarian_Female',
 'Complexity_omnivore_Male',
 'Complexity_omnivore_Female',
 'Complexity_Vegetarian_Male',
 'Complexity_Vegetarian_Female',
 'Palatability_omnivore_Male',
 'Palatability_omnivore_Female',
 'Palatability_Vegetarian_Male',
 'Palatability_Vegetarian_Female',
 'Craving_omnivore_Male',
 'Craving_omnivore_Female',
 'Craving_Vegetarian_Male',
 'Craving_Vegetarian_Female',
 'License: Hemera (1), other (2)']

In [6]:
print(img_value.shape)
img_value = img_value.loc[:, img_value.iloc[0, :] != "Item_description_german"]
print(img_value.shape)
img_value.columns = [
    "id",
    "Item_description",
    "is_nonfood",
    "is_processed_foods",
    "is_testy",
    "type",
    "protein_100g",
    "fat_100g",
    "carbs_100g",
    "kcal_100g",
    "no_items_image",
    "grams_total",
    "protein_total",
    "fat_total",
    "carbs_total",
    "kcal_total",
    "red",
    "green",
    "blue",
    "object_size",
    "intensity",
    "intensity_norm",
    "contrast_sd",
    "complexity",
    "complexity_norm",
    "special_frequencies",
    "Recognizability_Vegetarian_Male",
    "Recognizability_Vegetarian_Female",
    "Familiarity_omnivore_Male",
    "Familiarity_omnivore_Female",
    "Familiarity_Vegetarian_Male",
    "Familiarity_Vegetarian_Female",
    "Valence_omnivore_Male",
    "Valence_omnivore_Female",
    "Valence_Vegetarian_Male",
    "Valence_Vegetarian_Female",
    "Arousal_omnivore_Male",
    "Arousal_omnivore_Female",
    "Arousal_Vegetarian_Male",
    "Arousal_Vegetarian_Female",
    "Complexity_omnivore_Male",
    "Complexity_omnivore_Female",
    "Complexity_Vegetarian_Male",
    "Complexity_Vegetarian_Female",
    "Palatability_omnivore_Male",
    "Palatability_omnivore_Female",
    "Palatability_Vegetarian_Male",
    "Palatability_Vegetarian_Female",
    "Craving_omnivore_Male",
    "Craving_omnivore_Female",
    "Craving_Vegetarian_Male",
    "Craving_Vegetarian_Female",
    "is_not_License_of_Hemera"
]
img_value.drop([0], inplace=True)
flag_columns = img_value.columns[img_value.columns.str.contains("is")]
img_value[flag_columns] = img_value[flag_columns].astype(float).fillna(1).astype(int) - 1

(1214, 54)
(1214, 53)

In [7]:
img_value.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1213 entries, 1 to 1213
Data columns (total 53 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   id                                 1211 non-null   object
 1   Item_description                   1211 non-null   object
 2   is_nonfood                         1213 non-null   int64
 3   is_processed_foods                 1213 non-null   int64
 4   is_testy                           1213 non-null   int64
 5   type                               937 non-null    object
 6   protein_100g                       896 non-null    object
 7   fat_100g                           896 non-null    object
 8   carbs_100g                         896 non-null    object
 9   kcal_100g                          897 non-null    object
 10  no_items_image                     896 non-null    object
 11  grams_total                        897 non-null    object
 12  protein_total                      897 non-null    object
 13  fat_total                          897 non-null    object
 14  carbs_total                        897 non-null    object
 15  kcal_total                         897 non-null    object
 16  red                                1211 non-null   object
 17  green                              1211 non-null   object
 18  blue                               1211 non-null   object
 19  object_size                        1211 non-null   object
 20  intensity                          1211 non-null   object
 21  intensity_norm                     1211 non-null   object
 22  contrast_sd                        1211 non-null   object
 23  complexity                         1211 non-null   object
 24  complexity_norm                    1211 non-null   object
 25  special_frequencies                1211 non-null   object
 26  Recognizability_Vegetarian_Male    1084 non-null   object
 27  Recognizability_Vegetarian_Female  1209 non-null   object
 28  Familiarity_omnivore_Male          1211 non-null   object
 29  Familiarity_omnivore_Female        1211 non-null   object
 30  Familiarity_Vegetarian_Male        1084 non-null   object
 31  Familiarity_Vegetarian_Female      1209 non-null   object
 32  Valence_omnivore_Male              1211 non-null   object
 33  Valence_omnivore_Female            1211 non-null   object
 34  Valence_Vegetarian_Male            1067 non-null   object
 35  Valence_Vegetarian_Female          1209 non-null   object
 36  Arousal_omnivore_Male              1211 non-null   object
 37  Arousal_omnivore_Female            1211 non-null   object
 38  Arousal_Vegetarian_Male            1067 non-null   object
 39  Arousal_Vegetarian_Female          1209 non-null   object
 40  Complexity_omnivore_Male           1211 non-null   object
 41  Complexity_omnivore_Female         1211 non-null   object
 42  Complexity_Vegetarian_Male         1064 non-null   object
 43  Complexity_Vegetarian_Female       1209 non-null   object
 44  Palatability_omnivore_Male         896 non-null    object
 45  Palatability_omnivore_Female       896 non-null    object
 46  Palatability_Vegetarian_Male       759 non-null    object
 47  Palatability_Vegetarian_Female     894 non-null    object
 48  Craving_omnivore_Male              896 non-null    object
 49  Craving_omnivore_Female            896 non-null    object
 50  Craving_Vegetarian_Male            759 non-null    object
 51  Craving_Vegetarian_Female          894 non-null    object
 52  is_not_License_of_Hemera           1213 non-null   int64
dtypes: int64(4), object(49)
memory usage: 502.4+ KB

In [8]:
dtype_dict = {
        "id": 'int',
        "Item_description": 'object',
        "is_nonfood": 'int',
        "is_processed_foods": 'int',
        "is_testy": 'float',
        "type": 'float',
        "protein_100g": 'float',
        "fat_100g": 'float',
        "carbs_100g": 'float',
        "kcal_100g": 'float',
        "no_items_image": 'float',
        "grams_total": 'float',
        "protein_total": 'float',
        "fat_total": 'float',
        "carbs_total": 'float',
        "kcal_total": 'float',
        "red": 'float',
        "green": 'float',
        "blue": 'float',
        "object_size": 'float',
        "intensity": 'float',
        "intensity_norm": 'float',
        "contrast_sd": 'float',
        "complexity": 'float',
        "complexity_norm": 'float',
        "special_frequencies": 'float',
        "Recognizability_Vegetarian_Male": 'float',
        "Recognizability_Vegetarian_Female": 'float',
        "Familiarity_omnivore_Male": 'float',
        "Familiarity_omnivore_Female": 'float',
        "Familiarity_Vegetarian_Male": 'float',
        "Familiarity_Vegetarian_Female": 'float',
        "Valence_omnivore_Male": 'float',
        "Valence_omnivore_Female": 'float',
        "Valence_Vegetarian_Male": 'float',
        "Valence_Vegetarian_Female": 'float',
        "Arousal_omnivore_Male": 'float',
        "Arousal_omnivore_Female": 'float',
        "Arousal_Vegetarian_Male": 'float',
        "Arousal_Vegetarian_Female": 'float',
        "Complexity_omnivore_Male": 'float',
        "Complexity_omnivore_Female": 'float',
        "Complexity_Vegetarian_Male": 'float',
        "Complexity_Vegetarian_Female": 'float',
        "Palatability_omnivore_Male": 'float',
        "Palatability_omnivore_Female": 'float',
        "Palatability_Vegetarian_Male": 'float',
        "Palatability_Vegetarian_Female": 'float',
        "Craving_omnivore_Male": 'float',
        "Craving_omnivore_Female": 'float',
        "Craving_Vegetarian_Male": 'float',
        "Craving_Vegetarian_Female": 'float',
        "is_not_License_of_Hemera": 'float',
    }

In [9]:
food_value = img_value[img_value["is_nonfood"] == 0]
food_value = food_value.dropna(subset=["id"])
food_value[food_value == "data not acquired"] = np.nan
food_value[["id", "is_nonfood","is_processed_foods"]] =food_value[["id", "is_nonfood","is_processed_foods"]].astype(int)
food_value[["Item_description"]] = food_value[["Item_description"]].astype(str)
float_columns = [col for col in dtype_dict.keys() if dtype_dict[col] == 'float']
food_value[float_columns] = food_value[float_columns].astype(float)
food_value.info()

<class 'pandas.core.frame.DataFrame'>
Index: 896 entries, 1 to 896
Data columns (total 53 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   id                                 896 non-null    int64
 1   Item_description                   896 non-null    object
 2   is_nonfood                         896 non-null    int64
 3   is_processed_foods                 896 non-null    int64
 4   is_testy                           896 non-null    float64
 5   type                               622 non-null    float64
 6   protein_100g                       568 non-null    float64
 7   fat_100g                           568 non-null    float64
 8   carbs_100g                         568 non-null    float64
 9   kcal_100g                          896 non-null    float64
 10  no_items_image                     567 non-null    float64
 11  grams_total                        568 non-null    float64
 12  protein_total                      568 non-null    float64
 13  fat_total                          568 non-null    float64
 14  carbs_total                        568 non-null    float64
 15  kcal_total                         896 non-null    float64
 16  red                                896 non-null    float64
 17  green                              896 non-null    float64
 18  blue                               896 non-null    float64
 19  object_size                        896 non-null    float64
 20  intensity                          896 non-null    float64
 21  intensity_norm                     896 non-null    float64
 22  contrast_sd                        896 non-null    float64
 23  complexity                         896 non-null    float64
 24  complexity_norm                    896 non-null    float64
 25  special_frequencies                896 non-null    float64
 26  Recognizability_Vegetarian_Male    769 non-null    float64
 27  Recognizability_Vegetarian_Female  894 non-null    float64
 28  Familiarity_omnivore_Male          896 non-null    float64
 29  Familiarity_omnivore_Female        896 non-null    float64
 30  Familiarity_Vegetarian_Male        769 non-null    float64
 31  Familiarity_Vegetarian_Female      894 non-null    float64
 32  Valence_omnivore_Male              896 non-null    float64
 33  Valence_omnivore_Female            896 non-null    float64
 34  Valence_Vegetarian_Male            759 non-null    float64
 35  Valence_Vegetarian_Female          894 non-null    float64
 36  Arousal_omnivore_Male              896 non-null    float64
 37  Arousal_omnivore_Female            896 non-null    float64
 38  Arousal_Vegetarian_Male            759 non-null    float64
 39  Arousal_Vegetarian_Female          894 non-null    float64
 40  Complexity_omnivore_Male           896 non-null    float64
 41  Complexity_omnivore_Female         896 non-null    float64
 42  Complexity_Vegetarian_Male         759 non-null    float64
 43  Complexity_Vegetarian_Female       894 non-null    float64
 44  Palatability_omnivore_Male         896 non-null    float64
 45  Palatability_omnivore_Female       896 non-null    float64
 46  Palatability_Vegetarian_Male       759 non-null    float64
 47  Palatability_Vegetarian_Female     894 non-null    float64
 48  Craving_omnivore_Male              896 non-null    float64
 49  Craving_omnivore_Female            896 non-null    float64
 50  Craving_Vegetarian_Male            759 non-null    float64
 51  Craving_Vegetarian_Female          894 non-null    float64
 52  is_not_License_of_Hemera           896 non-null    float64
dtypes: float64(49), int64(3), object(1)
memory usage: 378.0+ KB

In [10]:
food_value.info()

<class 'pandas.core.frame.DataFrame'>
Index: 896 entries, 1 to 896
Data columns (total 53 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   id                                 896 non-null    int64
 1   Item_description                   896 non-null    object
 2   is_nonfood                         896 non-null    int64
 3   is_processed_foods                 896 non-null    int64
 4   is_testy                           896 non-null    float64
 5   type                               622 non-null    float64
 6   protein_100g                       568 non-null    float64
 7   fat_100g                           568 non-null    float64
 8   carbs_100g                         568 non-null    float64
 9   kcal_100g                          896 non-null    float64
 10  no_items_image                     567 non-null    float64
 11  grams_total                        568 non-null    float64
 12  protein_total                      568 non-null    float64
 13  fat_total                          568 non-null    float64
 14  carbs_total                        568 non-null    float64
 15  kcal_total                         896 non-null    float64
 16  red                                896 non-null    float64
 17  green                              896 non-null    float64
 18  blue                               896 non-null    float64
 19  object_size                        896 non-null    float64
 20  intensity                          896 non-null    float64
 21  intensity_norm                     896 non-null    float64
 22  contrast_sd                        896 non-null    float64
 23  complexity                         896 non-null    float64
 24  complexity_norm                    896 non-null    float64
 25  special_frequencies                896 non-null    float64
 26  Recognizability_Vegetarian_Male    769 non-null    float64
 27  Recognizability_Vegetarian_Female  894 non-null    float64
 28  Familiarity_omnivore_Male          896 non-null    float64
 29  Familiarity_omnivore_Female        896 non-null    float64
 30  Familiarity_Vegetarian_Male        769 non-null    float64
 31  Familiarity_Vegetarian_Female      894 non-null    float64
 32  Valence_omnivore_Male              896 non-null    float64
 33  Valence_omnivore_Female            896 non-null    float64
 34  Valence_Vegetarian_Male            759 non-null    float64
 35  Valence_Vegetarian_Female          894 non-null    float64
 36  Arousal_omnivore_Male              896 non-null    float64
 37  Arousal_omnivore_Female            896 non-null    float64
 38  Arousal_Vegetarian_Male            759 non-null    float64
 39  Arousal_Vegetarian_Female          894 non-null    float64
 40  Complexity_omnivore_Male           896 non-null    float64
 41  Complexity_omnivore_Female         896 non-null    float64
 42  Complexity_Vegetarian_Male         759 non-null    float64
 43  Complexity_Vegetarian_Female       894 non-null    float64
 44  Palatability_omnivore_Male         896 non-null    float64
 45  Palatability_omnivore_Female       896 non-null    float64
 46  Palatability_Vegetarian_Male       759 non-null    float64
 47  Palatability_Vegetarian_Female     894 non-null    float64
 48  Craving_omnivore_Male              896 non-null    float64
 49  Craving_omnivore_Female            896 non-null    float64
 50  Craving_Vegetarian_Male            759 non-null    float64
 51  Craving_Vegetarian_Female          894 non-null    float64
 52  is_not_License_of_Hemera           896 non-null    float64
dtypes: float64(49), int64(3), object(1)
memory usage: 378.0+ KB

In [11]:
food_value.describe()

,id,is_nonfood,is_processed_foods,is_testy,type,protein_100g,fat_100g,carbs_100g,kcal_100g,no_items_image,...,Complexity_Vegetarian_Female,Palatability_omnivore_Male,Palatability_omnivore_Female,Palatability_Vegetarian_Male,Palatability_Vegetarian_Female,Craving_omnivore_Male,Craving_omnivore_Female,Craving_Vegetarian_Male,Craving_Vegetarian_Female,is_not_License_of_Hemera
count,896.000000,896.0,896.000000,896.000000,622.000000,568.000000,568.000000,568.000000,896.000000,567.000000,...,894.000000,896.000000,896.000000,759.000000,894.000000,896.000000,896.000000,759.000000,894.000000,896.000000
mean,448.500000,0.0,0.667411,0.485491,2.745981,6.498283,10.476613,24.174620,202.597801,10.408289,...,34.164206,55.520647,58.462500,53.046509,52.490268,33.934933,32.206250,28.737549,26.566331,0.406250
std,258.797218,0.0,0.471404,0.500069,1.568544,6.325379,12.790091,23.412429,162.496456,32.336023,...,12.907694,13.965749,12.432942,22.269758,19.614270,15.017427,11.413483,22.704116,14.910656,0.491407
min,1.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.500000,1.000000,11.200000,0.000000,1.000000,1.000000,4.000000,0.000000,1.000000,0.000000
25%,224.750000,0.0,0.000000,0.000000,2.000000,1.352500,0.300000,4.000000,52.000000,1.000000,...,25.725000,47.600000,51.200000,39.150000,40.450000,24.000000,24.875000,9.150000,16.100000,0.000000
50%,448.500000,0.0,1.000000,0.000000,2.000000,5.015000,5.135000,14.900000,167.335000,1.500000,...,33.050000,56.300000,59.400000,54.000000,55.300000,34.650000,31.350000,24.500000,25.500000,0.000000
75%,672.250000,0.0,1.000000,1.000000,4.000000,8.400000,17.570000,41.670000,317.250000,5.500000,...,41.775000,64.800000,66.900000,69.700000,65.800000,44.325000,39.600000,44.000000,35.825000,1.000000
max,896.000000,0.0,1.000000,1.000000,7.000000,29.000000,83.200000,97.000000,741.000000,500.000000,...,91.000000,100.000000,93.500000,100.000000,97.000000,95.000000,72.700000,100.000000,80.300000,1.000000

In [12]:
type_description = "type:1=fruit, 2=with vegetables, 3=chocolate, 4=with fish, 5=with meat, 6=nuts, 7=drinks, 21=Flowers/leaves, 22=Animals, 23=Tools,  24=household (non-kitchen), 25=Kitchen Utensils, 26=office, 27=food packaging, 28=other"
type_description = type_description.replace("type:", "").replace("\n", "").split(", ")
type_dict = {int(t.split("=")[0]): t.split("=")[1] for t in type_description if "=" in t}
type_dict

{1: 'fruit',
 2: 'with vegetables',
 3: 'chocolate',
 4: 'with fish',
 5: 'with meat',
 6: 'nuts',
 7: 'drinks',
 21: 'Flowers/leaves',
 22: 'Animals',
 23: 'Tools',
 24: 'household (non-kitchen)',
 25: 'Kitchen Utensils',
 26: 'office',
 27: 'food packaging',
 28: 'other'}

In [13]:
food_value["type"] = food_value["type"].map(type_dict)
food_value = pd.get_dummies(food_value, columns=["type"], prefix="is_type" ,dtype=int)

In [14]:
food_value.to_csv(os.path.join(DATA_PATH, 'food_value.csv'), index=False)